prebuilt/fval/*/libfreetype*
data/test/*/*.fontbakery.md
data/test/*/*.fontbakery.json
data/test/*/*.ttx
*.pyc
*~
*.egg-info
/build
/dist
*.egg
images/*
fontbakery-check-results.json
fontbakery-check-results.md
.coverage
htmlcov
_version.py
venv
docs/_build
.eggs
.tox
.idea
.DS_Store
