axisregistry==0.4.11
beautifulsoup4==4.12.3
beziers==0.6.0
cmarkgfm==2024.1.14
collidoscope==0.6.5
defcon==0.10.3
dehinter==4.0.0
fontTools[ufo,lxml,unicode]==4.54.1
font-v==2.1.0
freetype-py==2.3.0  # pinned for now. See: https://github.com/googlefonts/fontbakery/issues/4143
gflanguages==0.7.0
glyphsets==0.6.6
munkres==1.1.4
opentype-sanitizer==9.2.0
opentypespec==1.9.1
packaging==24.2
pip-api==0.0.34
protobuf==3.20.3
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
stringbrewer==0.0.1
toml==0.10.2
ufolint==1.2.0
vharfbuzz==0.3.1
ufo2ft==3.3.1
